<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FishTips</title>
</head>
<body>
    <h1>Fishing Tip Notebook</h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="Species" name="species">
        <input type="text" placeholder="Tip" name="tip">
        <button type="submit">Submit</button>
        
    </form>
</body>
</html>